StageManager/bin/Debug
StageManager/bin/Release/*
!StageManager/bin/Release/BrawlStageManager.exe
!StageManager/bin/Release/BrawlManagerLib.dll
!StageManager/bin/Release/BrawlLib.dll
!StageManager/bin/Release/*.txt
StageManager/obj
*.suo
