StageManager/bin/Debug
StageManager/bin/Release/*
!StageManager/bin/Release/BrawlStageManager.exe
StageManager/obj
SSSPreview/bin/Debug
SSSPreview/bin/Release/*
!SSSPreview/bin/Release/BrawlStageManager.exe
!SSSPreview/bin/Release/SSSPreview.exe
SSSPreview/obj
*.suo
